@using Domain.Entities
@model List<Teacher>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Teacher" class="btn btn-success">Добавить</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>     
                <td>Title</td>
                <td>Description</td> 
                <td>Enabled</td>
                           
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.MiddleName</td>
                    <td>@item.Description</td> 
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.BirthDate</td>
                    <td>@item.Image</td>
                    <td>@item.Gender</td>
                    <td>@item.Degree</td>
                    <td>@item.Status</td>




                    <td>
                        <a asp-action="Edit" asp-controller="Teacher" asp-route-id="@item.Id">
                            Измениить
                        </a>
                        <a asp-action="Delete" asp-controller="Teacher" asp-route-id="@item.Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>