@using Domain.EntitiesDto
@model List<NewsDto>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="News" class="btn btn-success">Добавить</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-active table-bordered table-hover">
            <thead>
            <tr>     
                     <td>Title</td>
                     <td>Image</td>
                     <td>Description</td>
                     <td>CreatedAt</td>  
                     <td>Enabled</td>
                           
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                     <td>@item.Title</td>
                     <td><img src="@item.ImageName"  width="100" height="100"  alt="Photo" accept="application" /></td>
                     <td>@item.Description</td>
                     <td>@item.CreatedAt</td> 
                     <td>@item.Enabled</td>                   
                   
                   
                     
                    <td>
                        <a asp-action="Edit" asp-controller="News" asp-route-id="@item.Id">
                            Измениить
                        </a>
                        <a asp-action="Delete" asp-controller="News" asp-route-id="@item.Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
